* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
em {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
